@import "tailwindcss";



/* ================================= */
/* simple keyboard theme */

.simple-keyboard.myTheme1 {
  background-color: var(--color-gray-900);

}

.simple-keyboard.myTheme1 .hg-button {
  background-color: var(--color-gray-800);
  color: white;
  border: 1px solid transparent;
}

.simple-keyboard.myTheme1 .hg-button:focus {
  border: 1px solid #396cd8;
  outline: none;
  color: white;
}

.simple-keyboard.myTheme1 .hg-button:active,
.simple-keyboard.myTheme1 .hg-button.hg-activeButton {
  background-color: #396cd8;
  color: white;
}

.simple-keyboard.myTheme1 .hg-button.active-key {
  border: 1px solid #396cd8;
  outline: none;
  color: white;
}
/* 
#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #1c4995;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

